<!DOCTYPE html>
<html style="font-size: 16px;">
<<<<<<< HEAD

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>CompaniesSearchFilter</title>
  <link rel="stylesheet" href="styles/nicepageFilter.css" media="screen">
  <link rel="stylesheet" href="styles/CompaniesSearchFilter.css" media="screen">
  <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 3.30.2, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Advent+Pro:100,200,300,400,500,600,700">
  <link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Days+One:400|Acme:400|Advent+Pro:100,200,300,400,500,600,700|Amaranth:400,400i,700,700i">


  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Home Page"
    }
  </script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="CompaniesSearchFilter">
  <meta property="og:description" content="">
  <meta property="og:type" content="website">
</head>

<body class="u-body">
  <header class="u-clearfix u-header u-header" id="sec-e8f7">
    <div class="u-clearfix u-sheet u-sheet-1">
      <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
          <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
            href="#">
=======
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>CompaniesSearchFilter</title>
    <link rel="stylesheet" href="../../styles/nicepageFilter.css" media="screen">
<link rel="stylesheet" href="../../styles/CompaniesSearchFilter.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.30.2, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Advent+Pro:100,200,300,400,500,600,700">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Days+One:400|Acme:400|Advent+Pro:100,200,300,400,500,600,700|Amaranth:400,400i,700,700i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Home Page"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="CompaniesSearchFilter">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body"><header class="u-clearfix u-header u-header" id="sec-e8f7">
    <div class="u-clearfix u-sheet u-sheet-1">
      <nav style = "opacity:100;" class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
          <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
             href="#">
>>>>>>> 90b3ce53b70546b5a296ef51fbf9e3ab026a9a87
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
            </svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </symbol>
              </defs>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-unstyled u-nav-1">
            <li class="u-nav-item"><a
<<<<<<< HEAD
                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                href="/profile" style="padding: 10px 20px;">Profile</a>
            </li>
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                href="/influencer" style="padding: 10px 20px;">Influencers</a>
            </li>
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                href="/influencer" style="padding: 10px 20px;">Companies</a>
=======
                      class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                      href="/" style="padding: 10px 20px;">Home</a>
            </li>
            <li class="u-nav-item"><a
                      class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                      href="/login" style="padding: 10px 20px;">Login</a>
            </li>
            <li class="u-nav-item"><a
                      class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                      href="Sign-Up.html" style="padding: 10px 20px;">Sign Up</a>
            </li>
            <li class="u-nav-item"><a
                      class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                      href="/influencer" style="padding: 10px 20px;">Influencers</a>
            </li>
            <li class="u-nav-item"><a
                      class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                      href="Companies.html" style="padding: 10px 20px;">Companies</a>
>>>>>>> 90b3ce53b70546b5a296ef51fbf9e3ab026a9a87
            </li>
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
<<<<<<< HEAD
                <ul class="u-nav u-unstyled u-nav-1">
                  <li class="u-nav-item"><a
                      class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                      href="/profile" style="padding: 10px 20px;">Profile</a>
                  </li>
                  <li class="u-nav-item"><a
                      class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                      href="/influencer" style="padding: 10px 20px;">Influencers</a>
                  </li>
                  <li class="u-nav-item"><a
                      class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                      href="/influencer" style="padding: 10px 20px;">Companies</a>
                  </li>
                </ul>
=======
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html"
                                          style="padding: 10px 20px;">Home</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Login.html"
                                          style="padding: 10px 20px;">Login</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Sign-Up.html"
                                          style="padding: 10px 20px;">Sign Up</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Influencers.html"
                                          style="padding: 10px 20px;">Influencers</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Companies.html"
                                          style="padding: 10px 20px;">Companies</a>
                </li>
              </ul>
>>>>>>> 90b3ce53b70546b5a296ef51fbf9e3ab026a9a87
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
<<<<<<< HEAD
      <img class="u-image u-image-default u-image-1" src="images/LogoMakr-851MQ1.png" alt="" data-image-width="300"
        data-image-height="52">
    </div>
  </header>
  <section class="u-clearfix u-section-1" id="sec-7fbc">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-custom-font u-text u-text-custom-color-2 u-text-default u-text-1">Search for a potential partner</h1>
      <div class="u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form"
          source="custom" name="form-1" style="padding: 10px;">
          <div class="u-form-group u-form-name">
            <label for="name-3b27" class="u-form-control-hidden u-label"></label>
            <input type="text" placeholder="Enter their name" id="name-3b27" name="name"
              class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-20 u-white u-input-1" required="">
          </div>
          <div class="u-align-left u-form-group u-form-submit">
            <a href="#"
              class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-btn-submit u-button-style u-none u-text-palette-1-base u-btn-1"><span
                class="u-icon u-opacity u-opacity-55 u-text-custom-color-2 u-icon-1"><svg class="u-svg-content"
                  viewBox="0 0 52.966 52.966" x="0px" y="0px" style="width: 1em; height: 1em;">
                  <path d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21
=======
      <img class="u-image u-image-default u-image-1" src="../../images/LogoMakr-851MQ1.png" alt=""
           data-image-width="300" data-image-height="52">
    </div>
  </header>
    <section class="u-clearfix u-section-1" id="sec-7fbc">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-text u-text-custom-color-2 u-text-default u-text-1">Search for a potential partner</h1>
        <div class="u-form u-form-1">
          <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="custom" name="form-1" style="padding: 10px;">
            <div class="u-form-group u-form-name">
              <label for="name-3b27" class="u-form-control-hidden u-label"></label>
              <input type="text" placeholder="Enter their name" id="name-3b27" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-20 u-white u-input-1" required="">
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <a href="#" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-btn-submit u-button-style u-none u-text-palette-1-base u-btn-1"><span class="u-icon u-opacity u-opacity-55 u-text-custom-color-2 u-icon-1"><svg class="u-svg-content" viewBox="0 0 52.966 52.966" x="0px" y="0px" style="width: 1em; height: 1em;"><path d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21
>>>>>>> 90b3ce53b70546b5a296ef51fbf9e3ab026a9a87
	c5.083,0,9.748-1.817,13.384-4.832l14.895,15.491c0.196,0.205,0.458,0.307,0.721,0.307c0.25,0,0.499-0.093,0.693-0.279
	C52.074,52.304,52.086,51.671,51.704,51.273z M21.983,40c-10.477,0-19-8.523-19-19s8.523-19,19-19s19,8.523,19,19
	S32.459,40,21.983,40z"></path>
                </svg><img></span>&nbsp;<br>
            </a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
          <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try
            again. </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
      <h5 class="u-custom-font u-text u-text-custom-color-2 u-text-default u-text-2">Advanced Filter</h5>
      <div class="u-custom-color-2 u-form u-radius-20 u-form-2">
        <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form"
          source="custom" name="form" style="padding: 30px;">
          <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-3">
            <label for="select-c8d2" class="u-custom-font u-label u-label-2">Company Size</label>
            <div class="u-form-select-wrapper">
              <select id="select-c8d2" name="market-select"
                class="u-custom-font u-input u-input-rectangle u-radius-20 u-text-custom-color-1 u-white u-input-2">
                <option value="0-10  employees">0-10 employees</option>
                <option value="10-100 employees">10-100 employees</option>
                <option value="100-1K employees">100-1K employees</option>
                <option value="1K-10K employees">1K-10K employees</option>
                <option value="10K+ employees">10K+ employees</option>
              </select>
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">
                <path fill="currentColor" d="M4 8L0 4h8z"></path>
              </svg>
            </div>
          </div>
          <div class="u-form-group u-form-select u-vertical-form-control-visible u-form-group-4">
            <label for="select-2011" class="u-custom-font u-label u-label-3">Salary Range</label>
            <div class="u-form-select-wrapper">
              <select id="select-2011" name="location-select"
                class="u-custom-font u-input u-input-rectangle u-radius-20 u-text-custom-color-1 u-white u-input-3">
                <option value="0-$100">0-$100</option>
                <option value="$100-$1K">$100-$1K</option>
                <option value="$1k-$10K">$1k-$10K</option>
                <option value="$10K-$100K">$10K-$100K</option>
                <option value="$100K+">$100K+</option>
              </select>
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">
                <path fill="currentColor" d="M4 8L0 4h8z"></path>
              </svg>
            </div>
<<<<<<< HEAD
          </div>
          <div class="u-align-left u-form-group u-form-submit">
            <a href="#"
              class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-3 u-radius-20 u-text-white u-btn-2">Submit</a>
            <input type="submit" value="submit" class="u-form-control-hidden" placeholder="Search">
          </div>
          <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
          <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try
            again. </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
      <h3 class="u-custom-font u-text u-text-default u-text-3">Search results:<span
          class="u-text-custom-color-2"></span>
      </h3>
      <div class="u-container-style u-custom-color-1 u-group u-radius-15 u-shape-round u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <img class="u-image u-image-round u-preserve-proportions u-radius-10 u-image-1" src="images/558117816-0.png"
            alt="" data-image-width="150" data-image-height="150">
          <div class="u-container-style u-group u-group-2">
            <div class="u-container-layout">
              <h3 class="u-custom-font u-text u-text-default u-text-4">Name&nbsp; &nbsp; :</h3>
              <h3 class="u-custom-font u-text u-text-5">Teslaaa</h3>
              <h3 class="u-custom-font u-text u-text-6">Market&nbsp; &nbsp; :</h3>
              <h3 class="u-custom-font u-text u-text-7">Technology</h3>
              <h3 class="u-custom-font u-text u-text-8">Miami, FL</h3>
              <h3 class="u-custom-font u-text u-text-9">Location:</h3>
              <h3 class="u-custom-font u-text u-text-10">Size&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:</h3>
              <h3 class="u-custom-font u-text u-text-11">10K Employees</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="u-container-style u-custom-color-1 u-group u-radius-15 u-shape-round u-group-3">
        <div class="u-container-layout u-container-layout-3">
          <img class="u-image u-image-round u-preserve-proportions u-radius-10 u-image-2" src="images/558117816-0.png"
            alt="" data-image-width="150" data-image-height="150">
          <div class="u-container-style u-group u-group-4">
            <div class="u-container-layout">
              <h3 class="u-custom-font u-text u-text-default u-text-12">Name&nbsp; &nbsp; :</h3>
              <h3 class="u-custom-font u-text u-text-13">Amazonnn</h3>
              <h3 class="u-custom-font u-text u-text-14">Market&nbsp; &nbsp; :</h3>
              <h3 class="u-custom-font u-text u-text-15">Home &amp; Living</h3>
              <h3 class="u-custom-font u-text u-text-16">Melbourne, VIC</h3>
              <h3 class="u-custom-font u-text u-text-17">Location:</h3>
              <h3 class="u-custom-font u-text u-text-18">Size&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:</h3>
              <h3 class="u-custom-font u-text u-text-19">11K Employees</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="u-container-style u-custom-color-1 u-group u-radius-15 u-shape-round u-group-5">
        <div class="u-container-layout u-container-layout-5">
          <img class="u-image u-image-round u-preserve-proportions u-radius-10 u-image-3" src="images/558117816-0.png"
            alt="" data-image-width="150" data-image-height="150">
          <div class="u-container-style u-group u-group-6">
            <div class="u-container-layout">
              <h3 class="u-custom-font u-text u-text-default u-text-20">Name&nbsp; &nbsp; :</h3>
              <h3 class="u-custom-font u-text u-text-21">Metaaa</h3>
              <h3 class="u-custom-font u-text u-text-22">Market&nbsp; &nbsp; :</h3>
              <h3 class="u-custom-font u-text u-text-23">Beauty</h3>
              <h3 class="u-custom-font u-text u-text-24">Chicago, IL</h3>
              <h3 class="u-custom-font u-text u-text-25">Location:</h3>
              <h3 class="u-custom-font u-text u-text-26">Size&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:</h3>
              <h3 class="u-custom-font u-text u-text-27">100 Employees</h3>
=======
            <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
            <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
            <input type="hidden" value="" name="recaptchaResponse">
          </form>
        </div>
        <h3 class="u-custom-font u-text u-text-default u-text-3">Search results:<span class="u-text-custom-color-2"></span>
        </h3>
        <div class="u-container-style u-custom-color-1 u-group u-radius-15 u-shape-round u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <img class="u-image u-image-round u-preserve-proportions u-radius-10 u-image-1" src="../../images/558117816-0.png" alt="" data-image-width="150" data-image-height="150">
            <div class="u-container-style u-group u-group-2">
              <div class="u-container-layout">
                <h3 class="u-custom-font u-text u-text-default u-text-4">Name&nbsp; &nbsp; :</h3>
                <h3 class="u-custom-font u-text u-text-5">Teslaaa</h3>
                <h3 class="u-custom-font u-text u-text-6">Market&nbsp; &nbsp; :</h3>
                <h3 class="u-custom-font u-text u-text-7">Technology</h3>
                <h3 class="u-custom-font u-text u-text-8">Miami, FL</h3>
                <h3 class="u-custom-font u-text u-text-9">Location:</h3>
                <h3 class="u-custom-font u-text u-text-10">Size&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:</h3>
                <h3 class="u-custom-font u-text u-text-11">10K Employees</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="u-container-style u-custom-color-1 u-group u-radius-15 u-shape-round u-group-3">
          <div class="u-container-layout u-container-layout-3">
            <img class="u-image u-image-round u-preserve-proportions u-radius-10 u-image-2" src="../../images/558117816-0.png" alt="" data-image-width="150" data-image-height="150">
            <div class="u-container-style u-group u-group-4">
              <div class="u-container-layout">
                <h3 class="u-custom-font u-text u-text-default u-text-12">Name&nbsp; &nbsp; :</h3>
                <h3 class="u-custom-font u-text u-text-13">Amazonnn</h3>
                <h3 class="u-custom-font u-text u-text-14">Market&nbsp; &nbsp; :</h3>
                <h3 class="u-custom-font u-text u-text-15">Home &amp; Living</h3>
                <h3 class="u-custom-font u-text u-text-16">Melbourne, VIC</h3>
                <h3 class="u-custom-font u-text u-text-17">Location:</h3>
                <h3 class="u-custom-font u-text u-text-18">Size&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:</h3>
                <h3 class="u-custom-font u-text u-text-19">11K Employees</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="u-container-style u-custom-color-1 u-group u-radius-15 u-shape-round u-group-5">
          <div class="u-container-layout u-container-layout-5">
            <img class="u-image u-image-round u-preserve-proportions u-radius-10 u-image-3" src="../../images/558117816-0.png" alt="" data-image-width="150" data-image-height="150">
            <div class="u-container-style u-group u-group-6">
              <div class="u-container-layout">
                <h3 class="u-custom-font u-text u-text-default u-text-20">Name&nbsp; &nbsp; :</h3>
                <h3 class="u-custom-font u-text u-text-21">Metaaa</h3>
                <h3 class="u-custom-font u-text u-text-22">Market&nbsp; &nbsp; :</h3>
                <h3 class="u-custom-font u-text u-text-23">Beauty</h3>
                <h3 class="u-custom-font u-text u-text-24">Chicago, IL</h3>
                <h3 class="u-custom-font u-text u-text-25">Location:</h3>
                <h3 class="u-custom-font u-text u-text-26">Size&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:</h3>
                <h3 class="u-custom-font u-text u-text-27">100 Employees</h3>
              </div>
>>>>>>> 90b3ce53b70546b5a296ef51fbf9e3ab026a9a87
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-8213">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the text box. Click again or
        double click to start editing the text.</p>
    </div>
  </footer>
  <section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
      <span>Website Templates</span>
    </a>
    <p class="u-text">
      <span>created with</span>
    </p>
    <a class="u-link" href="" target="_blank">
      <span>Website Builder Software</span>
    </a>.
  </section>
</body>

</html>