<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <form action="/register-influencer" method="POST">
            <label for="fullname">Fullname:</label>
            <input type="text" placeholder="fullname" name="fullname" id="fullname">
            <label for="fullname">Fullname:</label>
            <input type="text" placeholder="fullname" name="fullname" id="fullname">
            <label for="fullname">Fullname:</label>
            <input type="text" placeholder="fullname" name="fullname" id="fullname">
            <label for="fullname">Fullname:</label>
            <input type="text" placeholder="fullname" name="fullname" id="fullname">
        </form>
    </body>
</html>