<!-- NOT USED -->


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <form action="/register-influencer" method="POST">
            <label for="fullname">Fullname:</label>
            <input type="text" placeholder="Anjing Tiko" name="fullname" id="fullname">
            <label for="email">Email:</label>
            <input type="text" placeholder="anjing@tiko.com" name="email" id="email">
            <label for="password">Password:</label>
            <input type="password" placeholder="password" name="password" id="password">
            <label for="birhtdate">Birth Date:</label>
            <input type="date" placeholder="birthdate" name="birthdate" id="birthdate" min="1900-01-01">
            <label for="phoneNumber">Phone number:</label>
            <input type="text" placeholder="phoneNumber" name="phoneNumber" id="phoneNumber">
            <input type="submit" value="Submit">
        </form>
        <p><%= error %> </p>
    </body>
</html>
<script>
    let birthdate = document.querySelector("#birthdate");
    birthdate.max = `${new Date().getFullYear()-17}-${new Date().getMonth()+1}-${new Date().getDate()}`;
    birthdate.value = "2000-01-01";
</script>